/*-------------------------------------------- header ------------------------------------------*/
#header {
	@extend %pageWidth;

	position: relative;
	z-index: 2;

	height: 95px;
	padding-top: 26px;
}
#containerHeader {
	height: 130px;
	@include alignJustify();
}

.logo{
	text-decoration: none;
	margin-left: -77px;
	display: inline-block;
	z-index: 2;
	img{
		float: left;
	}
	.title{
		margin-left: 77px;
		font-size: 12px;
		display: block;
		color:#000;
		font-weight: 300;
		.boldText{
			font-size: 48px;
			line-height: 1.2; 
		}
	}
	&:hover{
		img{
			
		}
	}	
}
.social{ 
	display: inline-block;
	padding-top: 7px;
	#containerHeader &{
		margin-right: -80px;
	}
	&>a{
		display: inline-block;
		width: 28px;
		height: 28px;
		@include border-radius(15px);
		border:1px solid #000;
		text-align: center;
		line-height: 28px;
		position: relative;
		vertical-align: top;
		&:before{
			line-height: 1;
		}
		&:hover{
			color:$pink;
			border-color: $pink;
		}
		&.ok-ico{
			&:after{
				display: block;
				content: "";
				width: 10px;
				height: 17px;
				@include sprite(-70px, -241px);
				@include alignCenter();
			}
			&:hover{
				&:after{
					background-position: -70px -259px;
				}
			}
		}
	}
	#footer &{
		a{
			border-color: #fff;
			&:hover{
				border-color: $pink;
			}
			&.ok-ico{
				&:after{
					background-position: -81px -259px;
				}
				&:hover{
					&:after{
						background-position: -70px -259px;
					}
				}
			}
		}
	}
	.lang{
		padding-top: 45px;
		text-align: right;
		font-size: 12px;
		a{
			img{
				@include filter(grayscale(100%));
				@include opacity(0.4);
				&.active{
					@include filter(grayscale(0));
					@include opacity(1);			
				}
			}
			
			&:hover{
				border-color: $pink;
			}
		}
		
	}
}

.adaptiveMenu{
	display: inline-block;
	height: 93px;
	width: 905px;
}
.menuWrap{
	width: auto;
}
.country{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 12px;
	z-index: 10;
	.current{
		display: inline-block;
		border-bottom: 1px dashed #000;
		cursor: pointer;
		margin-left: 5px;
		position: relative;
		color: $pink;
		border-color: $pink;
		z-index: 1;
	}
	.switch{
		position: relative;
		z-index: 10;
		&:hover{
			.list{
				display: block;
			}
		}
	}
	i{
		margin-left: 5px;
	}
	.list{
		position: absolute;
		padding: 10px;
		display: inline-block;
		left: -5px;
		top: -7px;
		background: #eee;
		padding-top: 30px;
		@include border-radius(4px);
		display: none;
	}
	li{
		margin-bottom: 5px;
		a{
			&:hover{
				color:$pink;
			}
		}
	}
}
#menu {
	display: block;
	padding-left: 0;
	text-align: center;
	white-space: nowrap;
	li{
	    float: left;
		margin-right: 3%;
		font-size: 14px;
		font-weight: 700;
		line-height: 2.4;
		&:last-child{
			margin-right: 0;
		}
		&:hover, &.active{
			color:$pink;
		}
	}
	cursor: pointer;
}

#menuButton{
	position: absolute;
	top: 30px;
	right: 20px;
	cursor: pointer;
	display: none;
	z-index: 1000;
	width: 30px;
	height: 32px;
	overflow: hidden;
	.openMenu &{
		right: 280px;
	}
}
.menuLine{
	position: relative;
	width: 30px;
	height: 4px;
	margin: 5px auto;
	background: #000;
	z-index: 10;
	right: 0;
	@include transition(all, 0.3s);
	@include opacity(1);
	.openMenu &{
		@include alignCenter();
		@include transition(all, 0.3s);
		background: #fff;
	 	&:nth-child(2){
			right: -100px;
	 	}
	 	&:nth-child(1){
			@include rotate(45deg);
	 	}
	 	&:nth-child(3){
			@include rotate(-45deg);
	 	}

	}
}


.secondryMenu{
	background:#000;
	position: relative;
	color:#fff;
	padding: 0;
	margin-bottom: 16px;
	margin-left:-20px;
	margin-right: -20px; 
	font-size: 0;
	z-index: 30;
	li{
		display: inline-block;
		font-size: 14px;
		&.active{
			background: $pink;
		}
		a{
			padding: 0 20px; line-height: 50px;
			display: block;
			height: 50px;
			&:hover{
				background:$pink;
			}
		}
	}
	&:before,
	&:after{
		background:#000;
	}
}

#breads{
	font-size: 12px;
	margin-bottom: 4.5em;
	a{
		&:hover{
			color:$pink;
		}
	}
}

/*-------------------------------------------- footer ------------------------------------------*/
#footer {@extend %pageWidth;
	position: absolute;
	z-index: 2;
	@include box-sizing(border-box);
	bottom: 0;
	left: 0;
	background:#000;
	color:#fff;
	padding: 60px  80px;
}
#containerFooter {
	height: auto;
	.col{
		font-size: 14px;
		font-weight: 300;
		float: left;
		width: 14.5%;
		padding-right: 1%;
		&:last-child{
			width: 20%;
			padding-right: 0;
		}
		&>a{
			font-weight: 700;
			line-height: 1.8;			
			&:hover{
				text-decoration: underline;
			}
		}		
		ul{
			padding-left: 0;
			line-height: 1.8;
			a{
				&:hover{
					@include opacity(0.7);
				}
				
			}
			
		}
	}
	.contactData{
		font-size: 12px;
	}
	.contactData, li{
		color:#898989;
	}
}

.searchF{
	position: relative;
	margin-bottom: 15px;
	input{
		&[type="text"]{
			width: 100%;
			height: 26px;
			border: 1px solid #333333;
			@include border-radius(14px);
			background: transparent;
			padding: 0 10px 0 30px;
			color:#fff;
			@include box-sizing(border-box);
		}
		&[type="submit"]{
			background: none;
			width: 0;
			height: 0;
			padding: 0;
		}
	}
	i{
		position: absolute;
		top: 7px;
		left: 9px;
		color:#999999;
	}
}